<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsn.mall.db.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsn.mall.core.model.AdminModel">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="avatar" property="avatar" />
        <result column="add_time" property="addTime" />
        <result column="disabled" property="disabled" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <collection property="roleList" column="id" select="selectRole"/>
    </resultMap>
    <select id="selectRole" resultType="com.hsn.mall.core.model.RoleModel">
        select r.* from litemall_role r
        inner join litemall_admin_role a on a.admin_id = #{id}
        where a.role_id = r.id
    </select>
    <delete id="deleteAllRole" parameterType="int">
        delete from litemall_admin_role
        where admin_id = #{value}
    </delete>
    <insert id="insertRole">
        insert  into litemall_admin_role  (admin_id,role_id) values
        <foreach  collection="list" separator="," item="item">
            (
                #{id},#{item}
            )
        </foreach>
    </insert>
</mapper>
