<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsn.mall.db.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsn.mall.core.model.CategoryModel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="keywords" property="keywords" />
        <result column="desc" property="desc" />
        <result column="pid" property="pid" />
        <result column="icon_url" property="iconUrl" />
        <result column="pic_url" property="picUrl" />
        <result column="level" property="level" />
        <result column="sort_order" property="sortOrder" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from litemall_category
        where deleted = '0'
    </select>
</mapper>
